[LoadingScreen]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
 
[Zone]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false
 
[Achievements]
LogLevel=1
FilePrinting=true
ConsolePrinting=true
ScreenPrinting=false
Verbose=true

[Asset]
LogLevel=1
ConsolePrinting=true
 
[Bob]
LogLevel=1
ConsolePrinting=true
 
[Power]
LogLevel=1
ConsolePrinting=true
